<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-white py-1 border-bottom border-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">
            <img id="logoImage" src="https://image.pngaaa.com/688/1613688-small.png" alt="logoPic"><span style="color:rgb(16, 112, 157); font-family: Lucida Handwriting">Keşif Hub</span>
        </a>
        <button class="navbar-toggler bg-secondary" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/home" id="navlink">Home</a>
                <a class="nav-link" href="/campgrounds" id="navlink">Campgrounds</a>
            </div>
            <% if(currentUser){ %>
                
                <div class="navbar-nav ml-auto">
                    <a class="nav-link" href="/prof" id="navlink">
                        Profile
                            <% if(currentUser.image){%>
                                <img src="<%= currentUser.image.url %>" id="profileImage"  style="height: 40px; width: 40px;">
                                <%}else{%>
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiZfk_mBRRAnMVpDjIrMbiU5DUxjWeZ5nqRQ&usqp=CAU" id="profileImage"  style="height: 40px; width: 40px;">
                                <%}%>
                       </a>
                    <a class="nav-link" href="/logout" id="navlink" style="margin-top: 6px;">Log out</a>
                </div>
                <% } else { %>
                    <div class="navbar-nav ml-auto">
                        <a class="nav-link" href="/login" id="navlink">Login</a>
                        <a class="nav-link" href="/register" id="navlink">Sign Up</a>
                    </div>
                    <% } %>
        </div>
    </div>
</nav>