<% layout('./layouts/boilerplate2')%>
  <div class="container text-center mt-2 mb-4">
    <div class="row">
      <div class="col-md-5 pt-3" style="background-color: #e0e1df; border-radius: 10px;">
        <h1 class="title"><%= currentUser.username %></h1>
      <h2 class="title">Education:</h2>
      <h3 class="title">Ankara Y覺ld覺r覺m Beyaz覺t University</h3>
      <ul>
        <li>Computer Engineering, Expected Graduation: June 2025</li>
        <li>GPA: 3.41/4.0</li>
      </ul>
      <h2 class="title">Skills:</h2>
      <ul>
        <li>Proficient in Spring Boot 3, Java, C++</li>
        <li>Familiar with HTML, CSS, JavaScript</li>
        <li>Git version control, Linux/Unix environments</li>
        <li>Problem-solving, communication, teamwork</li>
      </ul>
      <h2 class="title">Experience:</h2>
      <h3 class="title">Java Developer Intern</h3>
      <ul>
        <li>Getir, Ankara</li>
        <li>July 2023 - August 2023</li>
      </ul>
      <ul>
        <li>Developed features using Spring Boot 3 / Java</li>
        <li>Assisted in code reviews and troubleshooting</li>
        <li>Collaborated with product management and design</li>
      </ul>
      <h2 class="title">Projects:</h2>
      <ul>
        <li>2D Ghost Catch Game</li>
        <ul class="innerlist">
          <li>Used C++ and raylib.h</li>
          <li>There are 2 players and who catch more ghost wins the game</li>
        </ul>
        <li>Spell Checker</li>
        <ul class="innerlist">
          <li>Used Java</li>
          <li>It checks input if it sees any mistakes grammarly make it correct</li>
        </ul>
      </ul>
      <h2 class="title">Extracurricular Activities:</h2>
      <ul>
        <li>Member, AYBU Techno Space Club</li>
        <li>Volunteer, Coding Club for High School Students</li>
        <li>Participant, Hackathons and Coding Competitions</li>
      </ul>
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-5 pt-3" style="background-color: #e0e1df; border-radius: 10px;">
        <h1>My All Projects</h1>
      <hr class="mainline" />
      <ul>
        <li>AI Brain</li>
        <hr class="innerline" />
        <li>Calculator</li>
        <hr class="innerline" />
        <li>Chess</li>
        <hr class="innerline" />
        <li>Music player</li>
        <hr class="innerline" />
        <li>2D Ghost Catch Game</li>
        <hr class="innerline" />
        <li>Spell Checker</li>
        <hr class="innerline" />
      </ul>
      </div>
    </div>
  </div>